---
const content = `0; url=https://certdb.cyberpath-hq.com/database`
---
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="refresh" content={content} />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Redirecting...</title>
    </head>
</html>