---
const url = "https://certdb.cyberpath-hq.com/database";
const content = `0; url=${url}`;
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content={content} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href={url} />
    <title>Redirecting...</title>
  </head>
  <body>
    <h1>
      Redirecting to <a href={url}>CyberPath CertDb</a>
    </h1>
  </body>
</html>
