---
import "@fontsource-variable/nunito";
import Header from "src/components/astro/common/header.astro";
import Footer from "src/components/astro/common/footer.astro";
import type { AstroSeoProps } from "@astrolib/seo";
import { AstroSeo } from "@astrolib/seo";

interface Props {
    JSON_LD: string;
    seo: AstroSeoProps;
}

const {
          seo,
          JSON_LD,
      } = Astro.props;
---

<!doctype html>
<html lang="en"
      class="scroll-smooth scroll-pt-32 overflow-x-hidden"
>
    <head>
        <!-- Google Tag Manager -->
        <script src="/gtm.js"
                is:inline/>
        <!-- End Google Tag Manager -->
        <script is:inline
                type="application/ld+json"
                set:html={ JSON_LD }
        />
        <meta charset="UTF-8"/>
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0"
        />
        <link rel="icon"
              type="image/svg+xml"
              href="/favicon.svg"
        />
        <link rel="sitemap"
              href="/sitemap-index.xml"
        />
        <AstroSeo {...seo}/>
    </head>
    <body class="font-sans bg-white text-zinc-900">
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MZ2LDS5P"
                    height="0"
                    width="0"
                    style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        <Header/>
        <main>
            <slot/>
        </main>
        <Footer/>
    </body>
</html>